{% load uni_form_tags %}
{% load i18n %}

<div id="container-{{ action }}-{{ model_title|slugify }}">

<fieldset class="frontendadmin">
	<legend>{{ action }} {{ model_title }}</legend>

	<form id="form-{{ action }}-{{ model_title|slugify }}" class="uniForm" method="POST" action="{{ action_url }}" enctype="multipart/form-data">
		{% csrf_token %}
	{% spaceless %}
	{% for k,v in request.GET.items %}
	{% ifequal k 'next' %}{% else %}
	<input type="hidden" name="{{k}}" value="{{v}}"/>
	{% endifequal %}
	{% endfor %}
	{% endspaceless %}

		{{ form|as_uni_form }}
		<p class="submit">
			<input type="submit" class="submit" value="{% trans "Submit" %}"/>
		    <input type="submit" class="cancel" name="_cancel" value="{% trans "Cancel" %}"
		    	onclick="return confirm('{% trans "Are you sure to cancel this action?" %}');"/>
		</p>
	</form>
</fieldset>
</div>

<script>
var form = $("form#form-{{ action }}-{{ model_title|slugify }}");
</script>