{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    
    <h1>{% trans "Welcome to COhPy" %}</h1>
    
    <p>
        {% blocktrans %}
        Welcome to the website of the Central Ohio Python Users Group (COhPy).
        The website for all your python needs (well, maybe not ALL;).
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        Meet fellow Pythonistas. Learn about the Python programming language.
        Share your experiences with Python and how it has helped you. Have fun!
        All are possible as a member of the Central Ohio Python User's Group.
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        COhPy meetings occur the last Monday each month. We present, code and
        discuss all things Python. Many of our members support PyOhio, Ohio Linux
        Fest and other community events.
        {% endblocktrans %}
    </p>
    
    {% if not user.is_authenticated %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a>{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}<a href="{{ login_url }}">Log in</a>{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
