{% extends "base.html" %}

{% load i18n %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block site_title %}<h1><a href="{% url home %}">CohPy</a></h1>{% endblock %}

{% block nav %}<nav>
    <a href="/library/">Library</a>
    <a href="/meetings/">Meetings</a>
    {% include "_account_bar.html" %}
</nav>{% endblock %}

{% block footer %}
    <p>
        {% trans "&copy; 2010 CohPy and Contributors" %}
        <a href="http://mail.python.org/mailman/listinfo/centraloh">{% trans "Mailing List" %}</a>
    </p>
{% endblock %}